# 3장 5절 연습문제

 다음리스트가주어졌을경우요구사항대로코드를작성하시오
numbers = 
[
 1,2,3,4,5,6,7,8,9,10
 ]
 1. 숫자100을맨뒤에추가하세요
2. 다음리스트를numbers리스트맨뒤에추가하세요
data = [200, 300, 400, 500]
 3. 처음다섯개숫자만출력하세요
4. 리스트에서짝수번째데이터만출력하세요
5. 짝수번째데이터를모두0으로바꾸세요
6. 데이터를역순으로나열하세요(내림차순정렬이아닙니다

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [8]:
#1
#numbers.append(100)
numbers = numbers + [100]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [9]:
#2
data = [200, 300, 400, 500]
numbers = numbers + data
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [10]:
print(numbers[:5:])

[1, 2, 3, 4, 5]

In [11]:
print(numbers[::2])

[1, 3, 5, 7, 9, 100, 300, 500]

In [13]:
for idx, value in enumerate(numbers):
    if idx % 2 == 0:
        numbers[idx] = 0
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [15]:
print(numbers[::-1])

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

member = {'name':"홍길동
","age":20,"address":서울시 금천구","score" : 90}"
 7. address값을 출력하세요
서울시금천구
8. score 를 출력하고member 딕셔너리에서삭제하요.
 9. address를 '서울시 서대문구'로변경세요.
 10. member 딕셔너리 데이터의값을리스트로출력하세요

In [23]:
member = {'name':"홍길동","age":20,"address":"서울시 금천구","score" : 90}

In [24]:
#7
print(member['address'])

서울시 금천구

In [25]:
#8
print(member['score'])
del member['score']
print(member)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 금천구'}

In [26]:
#9
member['address'] = '서울시 서대문구'
print(member['address'])

서울시 서대문구

In [27]:
#10
member_list = [person for person in member]
member_list

['name', 'age', 'address']