In [1]:
#튜플 -> 데이터 수정 불가
#딕셔러니 -> 구조체 같은 거
#셋 -> 배열 중복데이터 안 넣어짐
#저장방식 : 데이터 변수(+함수)가 따로 잡혀있고, 변수명은 포인터 역할
#리스트에 시간 쓰기

# 데이터 구조
- 리스트 [], 튜플 (), 딕셔너리 {구조체와 유사}, 셋(집합)

# 1절 리스트
## 1.1 리스트 만들기
 - [] 이용
 - 인덱스 : 0부터 시작, -1은 맨 마지막 인덱스
 - 슬라이싱([from:to:step])을 이용하여 추출 가능

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape', 0]   #늘리고 줄이기 가능, 변수 타입 섞어서 출력 가능
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape', 0]
banana

In [4]:
fruits[0] = 'mango'
print(fruits[0])

mango

In [5]:
for fruit in fruits:
    print(fruit)

mango
apple
orange
grape
0

In [6]:
for i in [0, 1, 2, 3, 4]:
    print("{}번째 과일은 {}".format(i, fruits[i]))
for i in range(len(fruits)):
    print(fruits[len(fruits) - 1 - i])

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0
0
grape
orange
apple
mango

In [7]:
fruits = ['re', 2, 0]
print(enumerate(fruits))
for idx, value in enumerate(fruits):
    print(idx, value)

<enumerate object at 0x0000022BA00AD8F0>
0 re
1 2
2 0

## 1.2 기본정보 조회

In [8]:
#데이터와 함께 함수를 사용 가능
#교안 ch03 p.3에 있음

In [9]:
numbers = [1, 2, 3, 4, 5]
print("요소의 수 :", len(numbers))
print("최소값 :", min(numbers))
print("최대값 :", max(numbers))

요소의 수 : 5
최소값 : 1
최대값 : 5

## 1.3 요소 추가

In [10]:
# + 통해 두 리스트 연결 가능
# * 통해 리스트를 n만큼 반복 가능
# append() : 요소 뒤에 추가
# extend() : 리스트의 요소별로 뒤에 추가

In [11]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [12]:
numbers = [1, 2, 3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [14]:
numbers = [1, 2, 3, 4]
num = [5, 6]
#numbers를 [1,2,3,4, [5,6] ] 으로
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6]]

In [15]:
numbers = [1, 2, 3, 4]
num = [5, 6]
#numbers를 [1,2,3,4,5,6]으로
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [16]:
numbers = [1, 2, 3, 4]
num = [5, 6]
#numbers를 [1,2,3,4,5,6] 으로
numbers = numbers + num
numbers

[1, 2, 3, 4, 5, 6]

In [17]:
numbers = [1, 2, 3, 4]
numbers.append("Hello")
numbers

[1, 2, 3, 4, 'Hello']

In [18]:
numbers = [1, 2, 3, 4]
numbers.extend("Hello")
numbers   #문자열로 보고 얻어냄

[1, 2, 3, 4, 'H', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
- index(찾고자 하는 값, n) : 찾고자 하는 값이 n번 인덱스부터 찾아 그 위치를 반환
- count(찾고자 하는 값) : 찾고자 하는 값이 몇번 나오는지 확인 후 반환

In [19]:
numbers = [1,2,3,4, [2,3,4], [1,2,3], 1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("5가 몇개인지 : {}".format(numbers.count(5)))

2가 몇개인지 : 2
5가 몇개인지 : 0

In [20]:
2 in numbers  #

True

In [21]:
numbers.index(1, 2) #3번째 인덱스부터 2가 처음 나오는 인덱스를 반환
#len(numbers)

6

## 1.5 리스트의 원하는 내용만 추출
- 슬라이싱 [from:to:step] 을 이용 : 원하는 "인덱스"의 값 추출
- 리스트 컴프리헨션을 이용 : 원하는 "데이터"만 추출

In [22]:
numbers = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [23]:
numbers[::2] #얘는 2개씩 건너뛰면서 원하는 "인덱스"의 값을 가져옴, 즉 인덱스가 짝수인 값을 추출

[1, 5, 10, 13, 19]

In [24]:
#리스트 컴프리헨션 -> 인덱스 中 원하는 "값"을 가져옴
result = []
for num in numbers:
    if num%2 == 0:
        result.append(num)
result

[10, 12, 18, 20]

In [25]:
#리스트 컴프리헨션
#result = [num for num in numbers] -> append로 그냥 전부 넣는것과 동일함
result = [num for num in numbers if num % 2 == 0] #이러면 if 뒤의 조건문 만족되는 것들만 list로 만들어 줌
result

[10, 12, 18, 20]

In [26]:
#numbers 리스트의 제곱값을 리스트로 생성하여라
numbers = [1,3,5]
result = [num**2 for num in numbers]
result

[1, 9, 25]

In [27]:
#과일 글자가 5글자 이상인 과일 추출
fruits = ["orange", "apple", "mango", "kiwi"]
result = [fruit for fruit in fruits if len(fruit) >= 5]
result

['orange', 'apple', 'mango']

In [28]:
#과일 글자가 5글자 이상인 과일의 글자수 출력
fruits = ["orange", "apple", "mango", "kiwi"]
result = [len(fruit) for fruit in fruits if len(fruit) >= 5]
result

[6, 5, 5]

## 1.6 삭제하기
- remove(data) : list에서 해당 data 제거
- del 리스트변수[idx] : idx번째 요소 제거
- pop() : 가장 마지막 index 요소 return되고 삭제

In [29]:
numbers = [1,2,3,4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [30]:
numbers.remove(1) #없는 상태에서 삭제하면 에러남
print(numbers)

[2, 3]

In [31]:
del numbers[0]
print(numbers)

[3]

In [32]:
del numbers
# print(numbers)  -> ERROR!

## 1.7 정렬하기

In [33]:
numbers = [9, 10, 1, 5, 5]
numbers.sort(reverse=True)  #기본 reverse = False, 오름차순 / reverse = True, 오름차순
numbers

[10, 9, 5, 5, 1]

## 1.8 리스트 복제

In [34]:
numbers = [6,1,2]
new_numbers = numbers; #얕은 복사 (가르키는 주소만 복사)
numbers.sort()
print("정렬 전 데이터? :", new_numbers)
print("정렬 후 데이터 :", numbers)

정렬 전 데이터? : [1, 2, 6]
정렬 후 데이터 : [1, 2, 6]

In [35]:
numbers = [6,1,2]
new_numbers = numbers.copy(); #깊은 복사 (똑같은 리스트를 그대로 복사해서 가져다 놓고, 그 복사된 리스트의 주소를 피킹)
numbers.sort()
print("정렬 전 데이터 :", new_numbers)
print("정렬 후 데이터 :", numbers)

정렬 전 데이터 : [6, 1, 2]
정렬 후 데이터 : [1, 2, 6]

# 2절 튜플(Tuple)
-> 리스트와 유사함, 허나 읽기 전용
-> 리스트와 다른 점 : 한번 만들면 수정이 불가능
-> () 이용해서 생성

In [36]:
city = ('서울', '부산', '광주', '대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [37]:
'~'.join(city)

'서울~부산~광주~대전'

In [38]:
t = ('서울')
print(type(t))  #1개짜리 튜플은 위와 같이 그냥 붙이면 안 됨
t = ('서울',)
print(type(t))  #1개짜리 튜플은 뒤에 컴마(,) 필수

<class 'str'>
<class 'tuple'>

# 3절 딕셔너리(Dictionary)
- 구조체와 유사
- {} 이용해서 생성, key 와 value 의 쌍으로 구성
- key는 중복될 수 없음, value는 중복 가능
- index를 이용한 참조 불가(index가 없음)

In [39]:
dict = {'name':'강선민', 'address':'서울시 강동구'}
print(type(dict))
print(dict)

<class 'dict'>
{'name': '강선민', 'address': '서울시 강동구'}

In [40]:
print("접근 :", dict['name'], dict["address"])
dict['name'], dict["address"]  #이대로 콤마 해서 붙여놓으면 튜플로 인식함 (놀랍게도)

접근 : 강선민 서울시 강동구

('강선민', '서울시 강동구')

In [41]:
#dict['score'] -> ERROR!
dict.get('name'), dict.get('address'), dict.get('score')

('강선민', '서울시 강동구', None)

In [42]:
#dictionary -> 얼마든지 수정 가능! score를 까먹었으니 추가하는 예제
dict['score'] = 100      #그냥 추가 가능
dict['sport'] = 'sleep' #그냥 추가 가능
print(dict)
dict.pop('sport')       #제거도 가능
print(dict)

{'name': '강선민', 'address': '서울시 강동구', 'score': 100, 'sport': 'sleep'}
{'name': '강선민', 'address': '서울시 강동구', 'score': 100}

In [43]:
for data in dict:
    print(data)  #data가 아닌 key만 나옴
for idx, value in enumerate(dict):
    print(idx, value) #동일하게 인덱스 번호랑

name
address
score
0 name
1 address
2 score

In [44]:
print(dict.keys())
print(dict.values())
print(dict.items())  #for문에서는 이 친구를 이용!

dict_keys(['name', 'address', 'score'])
dict_values(['강선민', '서울시 강동구', 100])
dict_items([('name', '강선민'), ('address', '서울시 강동구'), ('score', 100)])

In [45]:
for data in dict.values():
    print(data)

강선민
서울시 강동구
100

In [46]:
for key, value in dict.items():
    print("{} : {}".format(key, value))

name : 강선민
address : 서울시 강동구
score : 100

In [47]:
l = ['a', 'b', 'c']
'c' in l   #in 연산자 -> 뒤에있는 요소에 앞에있는 대상이 있는지 검색하는 기능

True

In [48]:
dict = {'name' : '홍길동', 'score' : 100}
print('name' in dict)  #True
print('홍길동' in dict) #False

True
False

In [49]:
len(dict) #데이터 갯수

2

# 4절 셋 (Set)
- 중복을 허용하지 않는 집합(순서 X = 인덱스 X)
- ~번째 아이를 찾아라 -> 불가능!

In [50]:
fruits_list = ['apple', 'orange', 'banana', 'banana']
fruits_tuple = ('apple', 'orange', 'banana', 'banana')
fruits_set = {'apple', 'orange', 'banana', 'banana', 0, 0}
print("{}\n{}\n{}".format(fruits_list, fruits_tuple, fruits_set))
print(type(fruits_set))

['apple', 'orange', 'banana', 'banana']
('apple', 'orange', 'banana', 'banana')
{0, 'banana', 'orange', 'apple'}
<class 'set'>

In [51]:
fruits_set.add('kiwi')
fruits_set.add('banana')
print(fruits_set)

{0, 'kiwi', 'banana', 'orange', 'apple'}

In [52]:
for i, value in enumerate(fruits_set):  #순서 뒤죽박죽임
    print("{}:{}".format(i, value))

0:0
1:kiwi
2:banana
3:orange
4:apple

In [53]:
for data in fruits_set:
    print(data)

0
kiwi
banana
orange
apple